<% content_for :title, 'Damn, 404' %>
<div class="rsvp">

  <div class="slice gray">
    <div class="narrow">
      <h1>Uh Oh...</h1>
    </div>
  </div>

  <div class="slice red">
    <div class="narrow">
      <p>The page you're looking for could not be found.<p>
    </div>
  </div>

  <div class="slice brown">
    <div class="narrow">

      <p>Sorry, Mike probably screwed something up.</p>
      <p>If you're having trouble seeing or submitting your RSVP, please report the problem to <a href="mailto:postman@mikeandkate.wedding">postman@mikeandkate.wedding</a> and Mike will sort it out.</p>
      <p>You can also just send your RSVP information there if you'd rather not deal with this futuristic internet system.</p>

    </div>
  </div>

</div>
