<div class="rsvp">

  <div class="slice gray">
    <div class="narrow">
      <h1>Your RSVP for<br>Mike and Kate's wedding</h1>
    </div>
  </div>

  <div class="slice blue">
    <div class="narrow">
      <p>All of the details are at <a href="http://mikeandkate.wedding">http://mikeandkate.wedding</a>
    </div>
  </div>

  <div class="slice brown">
    <p>Thanks for responding. Here's what we received:</p>
    <p>- --- - -- - -- - --- - ----- - ----- - --- - -- - -- - --- -</p>
    <% @invitation.guests.each do |guest| %>
      <% if guest.attending? %>
        <p><span style="color:#80ffa0">✓</span> <%= guest.name %> will be attending</p>
      <% else %>
        <p><span style="color:#ff80a0">✗</span> <%= guest.name %> will not be attending</p>
      <% end %>
    <% end %>
    <p>- --- - -- - -- - --- - ----- - ----- - --- - -- - -- - --- -</p>

    <% if @invitation.song? %>
      <p>And you can't wait to get down to <%= @invitation.song %>
    <% else %>
      <p>And you didn't specify a dancing song. So we're assuming <a href="https://www.youtube.com/watch?v=uxi73RQlLB8">Flynt Flossy</a> will move you.
      <%# Link to dumb Nickleback song, or gif, or something %>
    <% end %>

    <p>If you need to change anything, please email <a href="mailto:postman@mikeandkate.wedding">postman@mikeandkate.wedding</a> to let us know.
  </div>

</div>
